* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@import "@scss";

.root_page {
    width: 100%;

    font-size: $fs_medium;
    .before_nav {
        background-color: #817e7e;
        display: flex;
        justify-content: center;
        height: $beforeNavH;
        font-size: 1em;
        position: sticky;
        top: 0;
        z-index: $zi_max;
        .before_nav_content {
            width: $maxW;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            .brand_name {
                text-transform: uppercase;
                font-size: 1em;
                font-family: $f_brand;
                display: flex;
                color: white;
                margin-top: 8px;
                margin-left: 100px;
                align-items: center;
                justify-content: center;
            }
            .feature {
                display: flex;
                width: 30%;

                font-size: 1em;
                justify-content: center;
                .feature_item {
                    font-size: 0.65em;
                    color: white;
                    border-right: 2px solid white;
                    width: 100%;
                    max-width: 120px;
                    margin-right: 10px;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &:last-child {
                        border: unset;
                        text-align: right;
                        max-width: 120px;
                    }
                }
            }
        }
    }
    nav {
        width: 100%;
        height: $navH;
        font-size: 1em;
        background-color: #383636;
        display: flex;
        justify-content: center;
        position: sticky;
        top: $beforeNavH;
        z-index: $zi_max;
        color: white;
        .nav_content {
            width: 100%;
            max-width: $maxW;
            height: 100%;
            font-size: 1em;
            display: flex;
            justify-content: space-between;
            .left_content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1em;
                height: 100%;
                width: 10%;
                .logo {
                    width: 83px;
                    height: 100%;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
            .middle_content {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1em;

                .item {
                    font-size: 0.8em;
                    font-weight: 900;
                    cursor: pointer;
                    margin-right: 40px;
                    display: flex;
                    text-align: center;
                    &:last-child {
                        margin: unset;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .right_content {
                width: 23%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    .body_container {
        background-image: url("../../../public/images/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 700px;
        background-color: $cl_body_main;
        display: flex;
        justify-content: center;
        .body_container_center {
            width: $maxW;
            height: 100%;
        }
    }
    .cart_coutn {
        .sub_btn {
            background-color: #383636;
            border: none;
            box-shadow: none;
        }
        position: relative;
        i {
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
            &:hover {
                color: blue;
            }
        }
        span {
            position: absolute;
            top: -12px;
            right: 8px;
            font-size: 16px;
            color: red;
        }
    }
}
.dropdown {
    .menu-button {
        background-color: #383636;
        color: white;
        font-size: 0.8em;
        font-weight: 900;
        border: none;
        box-shadow: none;

        text-transform: none;
        margin-top: 0;
        padding-bottom: 7px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
            background-color: #383636;
            box-shadow: none;
            color: white;
            transform: scale(1.1);
        }
        i {
            position: absolute;
            left: 68px;
            // margin-left: 4px;
            transition: transform 0.3s;
        }
    }
    &:hover .menu-button i {
        transform: rotate(90deg);
    }
    .dropdown-menu {
        left: auto;
        margin-bottom: 10px;
        top: 100%;
        transform-origin: top right;
        display: none;
        // box-shadow:
        //     -10px 0px 10px -10px rgba(255, 255, 255, 0.1),
        //     10px 0px 10px -10px rgba(255, 255, 255, 0.4),
        //     0px 0px 10px rgba(255, 255, 255, 0.7);
        a {
            text-decoration: none;
        }
    }
    &:hover .dropdown-menu {
        display: block;
    }
}
.admin-button {
    width: 26%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    span {
        color: white;
        font-size: 20px;
    }

    &:hover {
        background-color: white;
        span {
            color: black;
        }
    }
}
